Package: paintitblack-cinnamon-artwork
Version: 2016.08.02
Architecture: all
Maintainer: Alf Gaida <agaida@siduction.org>
Installed-Size: 8
Depends: paintitblack-wallpapers, siduction-icons
Recommends: dmz-cursor-theme
Section: graphics
Priority: extra
Description: Cinnamon theme for PaintItBlack - next
 Release specific metapackage depending on icons and wallpapers to be
 used in combination with the Cinnamon  Desktop Environment.
